#filings_list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    column-gap: 4px;
}

#awards_table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

#awards_table thead th, #awards_table tbody td {
    border: 1px solid black;
    padding: 4px;
}

#awards_table thead th:nth-child(1) {
    width: 30%;
}

#awards_table thead th:nth-child(2) {
    width: 30%;
}

#awards_table thead th:nth-child(3) {
    width: 10%;
}

#awards_table thead th:nth-child(4) {
    width: 30%;
}

.pagination_container {
    display: flex;
    justify-content: space-between;
}

.form-group > label, .form-group .helper-text {
    display: block;
}

#name_filter {
    width: 50%;
    box-sizing: border-box;
}

#address_fields {
    display: flex;
    column-gap: 8px;
    width: 50%;
}

#address_fields .form-group {
    width: 100%;
}

#city_filter, #state_code_filter, #zip_code_filter {
    width: 100%;
    box-sizing: border-box;
}
