<h1 id="filer_header">Filer</h1>
<ul id="filings_list">
  <template id="filings_item_template">
    <li>
      <button class="tax_year_button"></button>
    </li>
  </template>
</ul>

<script type="text/javascript" src="/filer.js"></script>
