<h1 id="recipient_header">Recipient</h1>
<div id="recipient_details" class="details_container">
  <div class="detail_label">EIN</div>
  <div class="detail_value" id="recipient_detail_ein"></div>
  <div class="detail_label">Address</div>
  <div class="detail_value" id="recipient_detail_address">
    <div></div>
    <div></div>
  </div>
</div>

<script type="text/javascript" src="/recipient.js"></script>
